# Project build files
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

# Roblox Studio lock files
*.rbxlx.lock
*.rbxl.lock

# Local editor files
sourcemap.json

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Unncessary Vitepress files 
/docs/.vitepress/dist
/docs/.vitepress/cache

/node_modules

# Wally
Packages
wally.lock
wally.tgz

# Pesde
roblox_packages/
luau_packages/
lune_packages/
.pesde/
pesde.lock
package.tar.gz

# Affinity files
*.af~lock~
*.af

# Tests aren't ready yet
tests
scripts