.vscode

# Project model file
Signal.rbxm

# Roblox Studio lock files
*.rbxlx.lock
*.rbxl.lock

# Affinity files
*.af~lock~
*.af

# Vitepress files
docs/.vitepress/dist
docs/.vitepress/cache

sourcemap.json