# Local builds
*.rbxlx
*.rbxl
*.rbxm
*.rbxmx

# Roblox Studio lock files
*.rbxlx.lock
*.rbxl.lock

# Local editor files
sourcemap.json
.vscode

# Unncessary Vitepress files 
/docs/.vitepress/dist
/docs/.vitepress/cache

/node_modules

# Local wally files
/Packages
/wally.lock

# Affinity files
*.af~lock~
*.af

# Tests aren't ready yet
tests
scripts